/**{
  border: 1px solid black;
}*/
body {
  background-color: silver;
}

h1 {
  font-family: Rancho;
  text-align: center;
  background-color: green;
}


img {
  margin:100px;
  width: 250px;
  height:250px;

}

img#left {
  border:2px solid blue;

}

img#center {
  border:2px solid blue;

}

img#right {
  border:2px solid blue;

}

div#intro {
  background-color: green;
}

div#intro1 {
  border:3px solid blue;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 20%;
  width: 500px;
  text-align: center;
  margin:0 auto;

}
div#intro2 {
  border:3px solid blue;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 20%;
  width: 600px;
  text-align: center;
  margin:0 auto;

}

.h_line {
  width:100%;
  height:1px;
  border-bottom: 1px solid #000;
}


#seeChart {
  color:silver;
  background-color: blue;
  border: 2px solid silver;
  width: 100px;
  height: 50px;
  text-align: center;

}
#container {
  display:flex;
  justify-content: space-between;
  background-color: black;
}
